body {
    font-family: "Gugi", sans-serif;
}

h1,h2 {
    font-family: "Gaegu", sans-serif;
}

/* SNS 영역 */
#sns-links {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), Orgba(0, 0, 0, 0.208)), url (images/sns-bg-jpg);
    background-size: cover; background-position: center; background-attachment: fixed;
}

